.welcome-section {
    .title {
        font-family: 'IM Fell DW Pica', serif;
        font-size: 84px;
        color: $light;
    }
    .tagline {
        text-align: center;
        color: $light;
    }
}