// Body
$body-bg: #f5f8fa;
// Typography
$font-family-sans-serif: "Raleway",
sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
// Colors
$dark: rgba(35, 35, 35, 1);
$brown-grey: rgba(61, 59, 56, 1);
$metal-grey: rgba(89, 104, 105, 1);
$majestic: rgba(142, 18, 59, 1);
$light: rgba(224, 224, 224, 1);
$grid-gutter-width: 0px;